@import '../../partials/vars';

.details-icon-container {
  display: flex;
}

.details-title {
  font-family: $basic-font;
  font-size: 20px;
  color: $basic-font-color;
}

.details-link {
  font-family: $basic-font;
  color: $basic-font-color;
  margin-left: 5px;
}

.details-icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
}