@import '../../partials/vars';

.repo-wrapper {
  width: 380px;
  border-radius: 5px;
  border: 1px solid $input-grey;
  border-top-color: red; 
  border-top-width: 5px;
  margin-top: 20px; 
}

.repo-inner-container {
  padding: 30px;
}

.repo-title-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.repo-title {
  font-family: $basic-font;
  font-size: 18px;
  color: $basic-font-color;
}

.repo-add-btn {
  background-color: $button-color;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.repo-link-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.repo-link-icon {
  margin-right: 10px;
}

.repo-link {
  text-decoration: none;
  color: $button-color;
}

.repo-description {
  font-family: $basic-font;
  color: $secondary-font-color;
  margin-top: 20px;
}

.repo-footer {
  widows: 100%;
  height: 90px;
  padding: 30px;
  background-color: #f6f9fe; 
  display: flex;
  justify-content: flex-end;
}

.repo-footer-icon {
  margin-right: 5px;
}

.repo-footer-stat {
  margin-left: 20px;
}

.repo-footer-language {
  margin-right: auto;
  display: flex;
  align-items: center;

  div {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
    margin-right: 5px;
  }
}